{% extends 'portfolio/layout.html' %}

{% block main %}
<article class="primeiro">
    <p><b>
            Hey! Sou o Miguel Cardoso e sempre gostei da área de computação e de jogos.
            O que me levou a escolher o curso de engenharia informática foi a quantidade de elementos inseridos no
            curso em que se pode
            aprender acerca de computadores. Adorei ambas as arquiteturas de computadores.
            Sou uma pessoa perspicaz, calmo, cooperativo e sonhador.
            Quero trabalhar numa grande empresa, sempre tive interesse na Microsoft, em relação à área ainda não sei
            bem
            Gosto de música, produção musical, correr e jogos, incluido o desenvolvimento dos mesmos.

    </p>
</article>

<div class="heropage">
    <div class="fraseMotivacional">

        <h1>Your brain has the power to modify your pain perception.</h1>
        <h1>Change your business</h1>
    </div>

</div>

<div class="videoPortfolio">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/-fZ58L-4-qo"
        title="Portfolio Digital - 22102861" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </iframe>
</div>


{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
<script>
    setInterval(showTime, 1000);
    function showTime() {
        let time = new Date();
        let hour = time.getHours();
        let min = time.getMinutes();
        let sec = time.getSeconds();
        let am_pm = "AM";

        if (hour > 12) {
            hour -= 12;
            am_pm = "PM";
        }

        if (hour === 0) {
            hour = 12;
            am_pm = "AM";
        }

        hour = hour < 10 ? "0" + hour : hour;
        min = min < 10 ? "0" + min : min;
        sec = sec < 10 ? "0" + sec : sec;

        document.getElementById("clock").innerHTML = hour + ":" + min + ":" + sec + am_pm;
    }
    showTime();
</script>
<div class="footer-content">
    <h3>Contactos</h3>
    <p>A minha informação</p>
    <p>Email: miguelbcardoso7@hotmail.com</p>
    <ul class="socials">
        <li><a href="https://www.instagram.com/miguelbcardoso/"><img src="/media/instagram.png"></a></li>
        <li><a href="https://www.linkedin.com/in/miguelbcardoso/"><img src="/media/linkedin.png"></a></li>
        <li><a href="https://github.com/miguel-cardoso-a22102861"><img src="/media/githubrodape.png"></a></li>

    </ul>

</div>
<div class="footer-bottom" id="footer-bottom">
    <div id="clock">0:00:00</div>
    <p>copyright &copy;2023 Miguel Cardoso. Feito por <span>Miguel Cardoso</span>
    </p>
</div>

{% endblock %}