{% extends 'portfolio/layout.html' %}

{% block main %}

{% for laboratorios in laboratorios %}



<article class="primeiro">
    <h1>
        <p>Titulo</p>
        {{ laboratorios.titulo}} <br>

        {{laboratorios.linkRepos}} <br>

        {{ laboratorios.descricaoTopicos}}


        <h1>
            {{ tecnologiasUsadas.anoDeCriacao}}
        </h1>
    </h1>
</article>

{% endfor %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/laboratorios.css' %}">
{% endblock %}