<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PW</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
</head>
<header>
    <div class="logo">Miguel Cardoso

    </div>
    <div class="hamburguer">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li>
                <a href="{% url 'portfolio:home' %}" class="active">Hero Page</a>
            </li>
            <div class="dropdown">
                <li><a href="{% url 'portfolio:home' %}">Sobre Mim</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'portfolio:licenciatura' %}"">Licenciatura</a>
                    <a href=" {% url 'portfolio:educacao' %}">Educação</a>
                    <a href="{% url 'portfolio:aptidoesCompetencias' %}">Aptidões e competências pessoais</a>
                    <a href="{% url 'portfolio:experienciaProfissional' %}">Experiência profissional</a>
                    <a href="{% url 'portfolio:interesses' %}">Interesses</a>
                </div>
            </div>
            <div class="dropdown">
                <li><a href="{% url 'portfolio:projetosPessoais' %}">Projetos</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'portfolio:projetosUniversidade' %}">Projetos da Universidade</a>
                    <a href="{% url 'portfolio:projetosPessoais' %}">Projetos Pessoais</a>
                    <a href="{% url 'portfolio:tfcsInteressantes' %}">Projetos TFC interessantes</a>
                </div>
            </div>
            <div class="dropdown">
                <li><a href="{% url 'portfolio:tecnologiasExistentes' %}">Programação Web</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'portfolio:tecnologiasExistentes' %}">Tecnologias Existentes</a>
                    <a href="{% url 'portfolio:laboratorios' %}">Laboratórios</a>
                    <a href="{% url 'portfolio:noticiasPW' %}">Notícias</a>
                </div>
            </div>
            <div class="dropdown">
                <li><a href="{% url 'portfolio:sobreWebsite' %}">Sobre este website</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'portfolio:tecnologiasUsadas' %}">Tecnologias Usadas</a>
                    <a href="{% url 'portfolio:padroesUsados' %}">Padrões Usados</a>
                </div>
            </div>
            <li><a href="{% url 'portfolio:playground' %}">Playground</a></li>
            <li><a href="{% url 'portfolio:contactos' %}">Contactos</a></li>
            <li><a href="{% url 'portfolio:tarefas' %}">Tarefas</a></li>
            <li><a href="{% url 'portfolio:blog' %}">Blog</a> </li>
            <li><a href="#footer-bottom">Rodapé</a></li>
            <li>
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>






</header>

<main>
    {% block main %}
    {% endblock main %}
</main>

</html>