{% extends 'portfolio/layout.html' %}

{% block main %}
<h1>Listagem de 3 cadeiras de Eng. Informática:</h1>

<div class="btn-novaCadeira">
    <a href="{% url 'portfolio:novaCadeira' %}">
        <button> + </button>
    </a>
</div>


{% for cadeira in cadeiras %}
<div>
    <h2>Nome da cadeira:</h2>
    <h2>{{ cadeira.nome }}</h2>
    <br>
    <h2>Descrição da cadeira:</h2>
    <p>
        {{ cadeira.descricao }}
    </p>
    <br>
    <h2>ECTS</h2>
    <p>
        <br>
        <b>
            {{cadeira.ects}}
        </b>
        <br>
        <br>
        <b>
            Docente: {{ cadeira.professor}}
        </b>
        <br><br>
    </p>
    {% if cadeira.ranking <= 0 %} <b>Rank:</b> 👎🏻
        {% elif cadeira.ranking == 1 %}
        <b>Rank:</b> ⭐
        {% elif cadeira.ranking == 2 %}
        <b>Rank:</b> ⭐⭐
        {% elif cadeira.ranking == 3 %}
        <b>Rank:</b> ⭐⭐⭐
        {% elif cadeira.ranking == 4 %}
        <b>Rank:</b> ⭐⭐⭐⭐
        {% elif cadeira.ranking == 5 %}
        <b>Rank:</b> ⭐⭐⭐⭐⭐
        {% elif cadeira.ranking > 5 %}
        <b>Rank:</b> ⭐⭐⭐⭐⭐
        {% endif %}
        <br><br>
        <u><a href="{% url 'portfolio:editarCadeira' cadeira.id %}">Edit</a></u>
        <u><a href="{% url 'portfolio:apagarCadeira' cadeira.id %}">Delete</a></u>
</div>
{% endfor %}

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">




<div class="footer-content">
    <h3>Contactos</h3>
    <p>A minha informação</p>
    <p>Email: miguelbcardoso7@hotmail.com</p>
    <ul class="socials">
        <li><a href="https://www.instagram.com/miguelbcardoso/"><img src="/media/instagram.png"></a></li>
        <li><a href="https://www.linkedin.com/in/miguelbcardoso/"><img src="/media/linkedin.png"></a></li>
        <li><a href="https://github.com/miguel-cardoso-a22102861"><img src="/media/githubrodape.png"></a></li>

    </ul>

</div>
<div class="footer-bottom" id="footer-bottom">
    <p>copyright &copy;2023 Miguel Cardoso. Feito por <span>Miguel Cardoso</span>
    </p>
</div>
{% endblock %}