{% extends 'portfolio/layout.html' %}

{% block main %}
<h1>Lista de Padrões Usados</h1>

{% for padraoUsado in padroesUsados %}

<article class="primeiro">

    <h1>
        Nome do Padrão:

        {{ padraoUsado.nome }}


    </h1>
    <h1>
        Funcionalidades do padrão usado:

        {{ padraoUsado.descricao}}

    </h1>
    <h1> Esquema do Padrao Usado:</h1>

    <img src="{{ padraoUsado.imagem.url }}" alt="Imagem do Padrao Usado" width="250" height="150">
</article>
{% endfor %}








{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/padroesUsados.css' %}">
<div class="footer-content">
    <h3>Contactos</h3>
    <p>A minha informação</p>
    <p>Email: miguelbcardoso7@hotmail.com</p>
    <ul class="socials">
        <li><a href="https://www.instagram.com/miguelbcardoso/"><img src="/media/instagram.png"></a></li>
        <li><a href="https://www.linkedin.com/in/miguelbcardoso/"><img src="/media/linkedin.png"></a></li>
        <li><a href="https://github.com/miguel-cardoso-a22102861"><img src="/media/githubrodape.png"></a></li>

    </ul>

</div>
<div class="footer-bottom" id="footer-bottom">
    <p>copyright &copy;2023 Miguel Cardoso. Feito por <span>Miguel Cardoso</span>
    </p>
</div>
{% endblock %}