{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="projeto">
    <h2>DEISI Jungle</h2>
    <img src="images/projetoLP2.png" alt="Imagem do DEISI Jungle">
    <p>Projeto que consiste em Java e Kotlin. Focado essencialmente em POO ( Programação Orientada a Objetos)
    </p>
    <p>Ano de realização: 2022</p>
    <p>Cadeira: Linguagens de Programação II</p>
    <p>Participantes: <a href="https://github.com/miguel-cardoso-a22102861">Miguel Cardoso</a>, <a
            href="https://github.com/joao-marques-a22108693">João
            Marques</a>
    </p>
    <p>Tecnologias utilizadas: Java e Kotlin</p>
    <p>Competências: Back-end, uso de uma interface</p>
    <a href="https://github.com/miguel-cardoso-a22102861/LP2-22102861-22108693">Link para o repositório no
        GitHub</a><br>
    <a href="#">Link para o vídeo no YouTube</a>
</div>

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">

{% endblock %}