{% extends 'portfolio/layout.html' %}

{% block main %}

{% for projetoPessoal in projetosPessoais %}


<div class="container">
    {{ projetoPessoal.titulo}} <br>
    <div class="project">


        <div class="info">

            {{projetoPessoal.descricao}} <br>



            {{ projetoPessoal.anoDeRealizacao}} <br>


            {{ projetoPessoal.linkGithub}} <br>

            {{ projetoPessoal.videoYoutube}} <br>

            {% for participante in projetoPessoal.participantes.all %}
            <h1>{{ participante }}</h1>

            {% endfor %}

            <img src="{{projetoPessoal.imagem.url}}" alt="Projeto LP2" width="250" height="150">

        </div>
    </div>
</div>

{% endfor %}
<div class="footer-content">
    <h3>Contactos</h3>
    <p>A minha informação</p>
    <p>Email: miguelbcardoso7@hotmail.com</p>
    <ul class="socials">
        <li><a href="https://www.instagram.com/miguelbcardoso/"><img src="images/instagram.png"></a></li>
        <li><a href="https://www.linkedin.com/in/miguelbcardoso/"><img src="images/linkedin.png"></a></li>
        <li><a href="https://github.com/miguel-cardoso-a22102861"><img src="images/githubrodape.png"></a></li>

    </ul>

</div>

<footer>
    <div class="footer-bottom" id="footer-bottom">
        <p>copyright &copy;2023 Miguel Cardoso. Feito por <span>Miguel Cardoso</span>
        </p>
    </div>
</footer>

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/laboratorios.css' %}">
{% endblock %}