{% extends 'portfolio/layout.html' %}

{% block main %}

{% for tecnologiasUsada in tecnologiasUsadas %}

<article class="primeiro">

    <h1>
        {{ tecnologiasUsada.nome }}


    </h1>
    <h1>
        {{ tecnologiasUsada.anoDeCriacao}}
    </h1>
    <h1>
        {{ tecnologiasUsada.criador}}
    </h1>
    {{tecnologiasUsada.siteOficial}}
    <li><a> {{ tecnologiasUsada.link }}</a></li>
    <p>{{ tecnologiasUsada.descricao }}</p>
    <img src="{{ tecnologiasUsada.imagem.url }}" alt="Imagem" width="450" height="250">

    <p>{{ tecnologiasUsada.data }}</p>

</article>



{% endfor %}

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/tecnologiasUsadas.css' %}">


{% endblock %}