.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 25px 100px;
}

.container div {
    float: left;
    width: 300px;
    height: 400px;
    padding: 25px;
    margin-bottom: 40px;
    margin-left: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

.btn-novaCadeira {
    margin-top: 20px;
}

.btn-novaCadeira a {
    text-decoration: none;
}

.btn-novaCadeira button {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 36px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    background-color: black;
    height: 50px;
    width: 50px;
}

.container a {
    text-decoration: none;
    color: black;
}