.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 25px 100px;
}

.container div {
    float: left;
    width: 300px;
    height: 400px;
    padding: 25px;
    margin-bottom: 40px;
    margin-left: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

.btn-novaCadeira {
    margin-top: 20px;
}

.btn-novaCadeira a {
    text-decoration: none;
}

.btn-novaCadeira button {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 36px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    background-color: black;
    height: 50px;
    width: 50px;
}

.container a {
    text-decoration: none;
    color: black;
}

.aptidoes-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.aptidoes-box {
    background-color: #091329;
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(175, 172, 172, 0.2);
    width: 700px;
    /* Adjust the width as needed */
    margin-bottom: 80px;
}

.aptidoes h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aptidoes h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.aptidoes p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}


.aptidoes-box h2 a {
    color: #fff;
    text-decoration: none;
}

.aptidoes-box h2 a:hover {
    text-decoration: underline;
}

.aptidoes-box img {
    width: 450px;
    height: 250px;
    margin-top: 10px;
}