
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
.image-container {
    position: relative;
    top: 50%;
}

.image-container:hover .caption {
    display: block;
}

.project {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #35353554;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.project h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project p {
    margin-top: 0;
    margin-bottom: 10px;
}

.project img {
    max-width: 400px;
    height: auto;
    margin: 0 20px 20px 0;
    border-radius: 5px;
}

.project .info {
    flex: 1;
    margin-right: 20px;
}

.project .participants {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.project .participants a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.project .participants a:hover {
    text-decoration: underline;
}

.project .links {
    display: flex;
    margin-bottom: 10px;
}

.project .links a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.project .links a:hover {
    text-decoration: underline;
}

.project .competencies {
    display: flex;
    flex-wrap: wrap;
}

.project .competencies span {
    margin-right: 10px;
    background-color: #ddd;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}